:root {
  --app-light-brown: #b4813f;
  --app-dark-brown: #5a3b2f;
  --app-dark-black: #000;
  --app-dirty-white: #f3f3f3;
  --app-font-poppins: 'Poppins', sans-serif;
  --app-font-roboto: 'Roboto', sans-serif;
  --app-font-nunito: 'Nunito', sans-serif;
}

::selection {
  background-color: var(--app-light-brown);
  color: var(--app-dirty-white);
  -webkit-background-clip: text;
   background-clip: text;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 1px;
  cursor: -webkit-grab;
}

::-webkit-scrollbar-thumb:hover {
  background: #cecece;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--app-font-roboto);
  background: #ffffff!important;
}

/*Text Gradient*/
.gradient-brown-text {
  background: -webkit-gradient(linear,left top,right top,from(var(--app-light-brown)),to(var(--app-dark-brown)));
  background-image: linear-gradient(90deg,var(--app-light-brown) 0,var(--app-dark-brown) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent
} .gradient-dark-text {
  background: -webkit-gradient(linear,left top,right top,from(#373D3F),to(#555F61));
  background-image: linear-gradient(90deg,#373D3F 0,#555F61 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent
} .gradient-golden-text {
  background: -webkit-gradient(linear,left top,right top,from(#e4c25a),to(var(--app-light-brown)));
  background-image: linear-gradient(90deg,#e4c25a 0,var(--app-light-brown) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent
}

/*Background*/
.bg-dot {
  background-color: #ffffff;
  background-image: radial-gradient(#F1F1F1 1px, transparent 1px);
  background-size: 22px 22px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} .bg-grid {
  height: 16rem;
  background-image:
    linear-gradient(to right, #f2f2f2 1px, transparent 1px),
    linear-gradient(to bottom, #f2f2f2 1px, transparent 1px)!important;
  background-size: 2.5rem 2.5rem;
  background-position: center center;
}